<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/785bc4d5-17af-4714-b233-2ac2967df6fa/resourcegroups/sabe/providers/Microsoft.Web/sites/AuthAPI90320241027235706</ResourceId>
    <ResourceGroup>sabe</ResourceGroup>
    <ApiResourceId>/subscriptions/785bc4d5-17af-4714-b233-2ac2967df6fa/resourceGroups/sabe/providers/Microsoft.ApiManagement/service/AuthAPI903apii/apis/AuthAPI903</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://authapi90320241027235706.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>cc2dc5fb-178b-43f8-9ca7-abe38802b0e6</ProjectGuid>
    <MSDeployServiceURL>authapi90320241027235706.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AuthAPI90320241027235706</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AuthAPI90320241027235706</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>